<h1>Editing Subcat</h1>

<%= render 'form', subcat: @subcat %>

<%= link_to 'Show', category_subcat_path(params[:category_id], @subcat) %> |
<%= link_to 'Back', category_subcats_path(params[:category_id]) %>
